@import 'config';

.page,
.post {
  margin-bottom: 4em;
}

// Blog post or page title
.page-title,
.post-title {
  color: $grey-darker;
  margin-top: 0;
}

// Meta data line below post title
.post-date {
  color: $grey-light;
  display: block;
  margin-bottom: 1rem;
  margin-top: -.5rem;
}

// Footnotes
sup {
  padding-left: .1rem;
}

.footnotes {
  border-top: 1px solid $grey-lightest;
  font-size: .8rem;
  padding-top: 1rem;
}
