@font-face {
    font-family: 'PermanentMarker';
    src: url('/fonts/PermanentMarker.eot');
    src: url('/fonts/PermanentMarker.eot?#iefix') format('embedded-opentype'),
         url('/fonts/PermanentMarker.woff') format('woff'),
         url('/fonts/PermanentMarker.ttf') format('truetype'),
         url('/fonts/PermanentMarker.svg#permanentmarker') format('svg');
    font-weight: normal;
    font-style: normal;
}

.marker { font-family: PermanentMarker }
h1, h2, h3, h4, h5, h6 { font-family: PermanentMarker; }
