<!doctype html>
<html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
      {% if page.title %} 
        {{ page.title | xml_escape }} - {{ site.title }} 
      {% else %} 
        {{ site.title }} 
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
  </head>

  <body class="helvetica">
    <div class="flcnw w-25 ph3 pt3 pb2 vh-100 fixed bg-red white">
      <h1 class="fln f1">
        <a href="/index.html" class="white b no-underline hover:no-underline">Meetups</a>
      </h1>
      <p class="lead fln f4 o-70 lh-copy">{{ site.description }}</p>

      <ul class="fln list pl0">
        <li>
          <a class="db white pv1 f4 hover:b hover:no-underline" href="/">Home</a>
        </li>
        <li>
          <a class="db white pv1 f4 hover:b hover:no-underline" href="/about/">About</a>
        </li>
        <li>
          <a class="db white pv1 f4 hover:b hover:no-underline" href="/archive/">Archive</a>
        </li>
      </ul>

      <div class="fln mta tc">
        <span class="o-50">Source code available on </span>
        <a class="white" href="https://github.com/pixelastic/meetups.pixelastic.com">GitHub</a>
      </div>
    </div>
        
    <div class="content ml-25 ph5 pv4">
      <div class="measure-wide lh-copy f4 grey">
        {{ content }}
      </div>
    </div>
  </body>
</html>
