a { text-decoration: none; }
a:hover { text-decoration: underline; }

.content a { color: #AC4142; }
.content h1 {
  color: #313131;
  margin-top: 1rem;
  margin-bottom: 0;
}
.content h2 {
  color: #313131;
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 400;
}
.content h2 + p { margin-top: 0; }

.content img {
  display: block;
  margin: 0 auto 1rem;
  border-radius: 5px;
  max-width: 100%;
}
